@font-face {
  font-family: "iconfont"; /* Project id 3306100 */
  src: url('//at.alicdn.com/t/c/font_3306100_5hm6ciak2d2.woff2?t=1669810549822') format('woff2'),
       url('//at.alicdn.com/t/c/font_3306100_5hm6ciak2d2.woff?t=1669810549822') format('woff'),
       url('//at.alicdn.com/t/c/font_3306100_5hm6ciak2d2.ttf?t=1669810549822') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhibo:before {
  content: "\e6d9";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-wxbdingwei:before {
  content: "\e624";
}

.icon-previous:before {
  content: "\e670";
}
